obj
WebAPI/obj
WebAPI/bin
WebAPI/Properities
ZSY.Common.API/obj
ZSY.Common.API/bin
ZSY.Common.API/Properities
ZSY.Common.Data/obj
ZSY.Common.Data/bin
ZSY.Common.Data/Properities
ZSY.Common.Handler/obj
ZSY.Common.Handler/bin
ZSY.Common.Handler/Properities
ZSY.Common.Entity/obj
ZSY.Common.Entity/bin
ZSY.Common.Entity/Properities
ZSY.FrameWork.Data/obj
ZSY.FrameWork.Data/bin
ZSY.FrameWork.Data/Properities

